@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('../fonts/avant_garde_book_bt.eot');
    src: url('../fonts/avant_garde_book_bt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avant_garde_book_bt.woff') format('woff'),
         url('../fonts/avant_garde_book_bt.ttf') format('truetype'),
         url('../fonts/avant_garde_book_bt.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
body{margin:0;padding:0;font-family:'avantgarde_bk_btbook';font-size:14px;color:#5d4c46;background:#cbdfec;overflow:hidden}
*{margin:0;padding:0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
ul, li{list-style:none}
.clearfix:after{content:"";visibility:hidden;display:block;height:0;clear:both}

#header{position:relative}
.date_time{position:absolute;left:0;top:0;padding:0 0 0 16px;color:#5d4c46;font-size:26px;height:50px;line-height:50px;}
.date_time b{display:block;height:60px;font-size:64px;font-weight:normal;line-height:normal;}
#header a{display:block;margin-bottom:5px;}
#header h2{border-bottom:2px solid #5d4c46;border-top:2px solid #5d4c46;color:#5d4c46;font-size:24px;font-weight:normal;height:40px;line-height:38px;margin:0;text-transform:uppercase;}
.main{max-width:1366px;margin:0 auto;height:100%;position:relative;
background-image: url("theme1.jpg");
  

}
.blackbg{background:#000000;display:inline-block;width:80px; height:100%; margin-right:1%; float:top;}
.container{height:75%}
.container .column1{height:100%;overflow:auto}
.column1{float:left;width:42.65%;margin-right:4px;}
.column2{float:left;width:38.35%;margin-right:4px;}
.column3{float:left;width:18.2%; }
.vertical2{background:#5D4C45;width:100%;height:12%;margin-bottom:4%;float:top;}
.vertical{margin-bottom:4%;background:#179679;width:100%;height:12%;float:bottom;}
#header .column1 h2{margin:0 0 0 4px;padding:0 0 0 14px}
#header .column2 h2{padding:0 0 0 5px}
#header .column3 h2{margin:0 4px 0 0;}
.footer_left, .footer_mid, .footer_right{height:80px;line-height:55px;position:absolute;bottom:0;width:42.65%;font-size:24px;color:#fff;text-align:left;}
.footer_mid{width:38.35%;}
.footer_right{width:18.2%;}
.footer_right input[type="text"]{width:155px;font-size:13px;}
.footer_right input[type="submit"]{border:0;background:url(../images/icon_search.png) no-repeat;cursor:pointer;display:block;color:transparent;vertical-align:middle;float:left;margin:8px 0 0 10px;background-size: 50px 50px;}
/*.footer_left, .footer_mid, .footer_right{height:35px;line-height:35px;background:#5d4c46;position:absolute;bottom:0;width:42.25%;font-size:24px;color:#fff;text-align:center;}
.footer_mid{width:37.9%;}
.footer_right{width:18.2%;}
.footer_right input[type="text"]{border:0;height:20px;float:left;margin:10px 0 10px 33px;width:140px;padding-left:5px;font-size:13px}
.footer_right input[type="submit"]{border:0;background:url(../images/search-icon.jpg) no-repeat;cursor:pointer;display:block;color:transparent;vertical-align:middle;width:24px;height:23px;float:left;margin:8px 0 0 20px;}*/


.photo_list {margin:0px 0 0 15px;padding-right:15px;cursor:pointer;height:75%}
.photo_list ul{margin:12px 0;margin-top:0px;margin-bottom:0px;padding:2px 2px 0 2px}
.photo_list li{float:left;width:24.6%;margin:0 2px 2px 0;text-align:center;background:#fff;position:relative;border:1px solid #5e4b45}

.photo_list li:nth-child(4n+4){margin:0 0 2px 0}
.photo_list li img{margin-top:20px;}
.photo_list li:hover div.icon_wrap{background:#5e4b45;text-align:left;padding-left:5px;position:absolute;left:0:top:0;width:100%;visibility:visible;}
.icon_wrap{background:#5e4b45;text-align:left;padding-left:5px;position:absolute;left:0:top:0;width:100%;visibility:hidden;}
.link_icon{background:url(../images/link-icon.jpg) no-repeat;width:16px;height:16px;display:inline-block;text-indent:-9999px;}
.like_icon{background:url(../images/like-icon.jpg) no-repeat;width:16px;height:16px;display:inline-block;text-indent:-9999px;}
.fav_icon{background:url(../images/fav-icon.jpg) no-repeat;width:16px;height:16px;display:inline-block;text-indent:-9999px;}

.journey_book{background:#5d4c46;float:right;margin:1px 0 0 0;color:#fff;height:30px;line-height:32px;text-transform:uppercase;font-size:18px;width:245px;text-align:center}
.journal_section{margin:10px 15%}
.journal_links{background:#5d4c46;padding:1%;text-align:center;color:#fff}
.journal_links a{color:#fff;text-transform:uppercase;text-decoration:none;font-size:9.5px}
.status_bar{margin:1% 0 0 0}
.status_bar img{max-width:100%}
.journal_bg{background:#5d4c46;margin:0.3% 0 0 0;padding:2% 5%;}
.journal_box{background:#f1f1f1 url(../images/jr-rpt.jpg) repeat-y 0 22px;min-height:330px;padding-left:18%;float:left;width:85%}
.journal_box h2{text-align:center;margin-left:-17%}
.journal_data{margin-top:7%}
.journal_bar{background:#5d4c46;float:left;width:17%;text-align:center;padding:2% 0;margin-top:8.5%}
.journal_bar a{color:transparent;display:inline-block;height:30px;margin-bottom:10%;vertical-align: middle}
.journal_bar a.hide_icon{background:url(../images/hide-icon.png) no-repeat;background-size:36px auto;width:36px}
.journal_bar a.bomb_icon{background:url(../images/bomb-icon.png) no-repeat;background-size:25px auto;width:25px}
.journal_bar a.stars_icon{background:url(../images/stars-icon.png) no-repeat;background-size:32px auto;width:32px}
.journal_bar a.challenge_icon{background:url(../images/challenge-icon.png) no-repeat;background-size:35px auto;width:35px}
.journal_bar a.music_icon{background:url(../images/music-icon.png) no-repeat;background-size:20px auto;width:20px;height:33px}
.journal_bar a.strike_icon{background:url(../images/strike-icon.png) no-repeat;background-size:25px auto;width:25px}
.journal_bar a.outing_icon{background:url(../images/outing-icon.png) no-repeat;background-size:23px auto;width:23px}
.journal_info{float:left;width:70%;margin-left:2%}
.jr_info_head{border-bottom:1px solid #5d4c46;}
.jr_info_head li{float:left;width:50%;text-align:center;font-size:12px;text-transform:uppercase;padding-bottom:1%}
.jr_info_list{border-left:1px solid #5d4c46;margin-top:5%}
.jr_info_list li{float:left;width:50%;text-align:center;font-size:12px;padding-bottom:12%}
.jr_lock{float:left;margin:5% 0 0 1%;}
.jr_lock li{margin-bottom:20px}
.pager{text-align:center;margin:38px 0 0 0}
.pager a{background:#888787;width:16px;height:17px;display:inline-block;margin:0 12px 0 -4px;border-radius:50px;text-indent:-9999px}
.blue_bar{background:#65b9d0}
.yellow_bar{background:#d0cf65}
.pink_bar{background:#d06582}
.status{margin:20px 0 0 0;font-size:16px}
.status span{display:inline-block;height:15px;vertical-align:middle}
.status .blue_bar{width:75%}
.status .yellow_bar{width:70%;margin-right:10px}
.status .pink_bar{width:80%}
.user_status{margin:5 5 0 0}
.user_status .user_box{width:50px;height:50px;line-height:50px;float:left;background:#65b9d0;font-size:20px;text-transform:uppercase;text-align:center;font-weight:bold;margin:0 2px 2px 0}
.user_stat{float:left;width:73%}
.user_stat span{display:inline-block;margin-bottom:2px;height:15px}
.user_stat .blue_bar{width:90%}
.user_stat .yellow_bar{width:55%}
.user_stat .pink_bar{width:30%}
.icon_list{margin:20px 0 0 0}
.icon_list ul{width:100%;float:left}
.icon_list ul li{width:25%;float:left;padding-right:2px;margin-bottom:2px}
.icon_list ul li a img{display:block;width:100%}


@media only screen and (max-width:1370px){
.footer_left, .footer_mid, .footer_right{height:55px;line-height:55px;background:#000000;position:fixed;bottom:0;width:42.65%;font-size:24px;color:#fff;text-align:left;vertical-align:middle;	}
.footer_mid{width:38.35%;}
.footer_right{width:18.2%;}
.user_status{margin:5px 0 0 0}
.icon_list{margin:5px 0 0 0}
.status{margin:5px 0 0 0;}
.pager{text-align:center;margin:15px 0 0 0}
}

@media only screen and (max-width:1280px){
.main{width:100%}
.container{height:82%}
#header img{max-width:100%;}
#header h2{font-size:20px;height:30px;line-height:28px;}
.column1, .footer_left{width:44%}
.column2, .footer_mid{width:36.06%}
.column3, .footer_right{width:18.5%}
.journal_section{margin:1% 3%}
.journal_box{width:90%}
.jr_info_list li{padding-bottom:10.5%}
.status .blue_bar{width:70%}
.status .yellow_bar{width:60%}
.user_stat{width:57%}
}

@media only screen and (max-width:1024px){
.main{width:100%}
.container{height:78%}
#header img{max-width:100%;}
#header h2{font-size:20px;height:30px;line-height:28px;}
.date_time{font-size:22px;height:40px;line-height:40px;}
.date_time b{font-size:42px;height:40px;line-height:40px;}
.column1, .footer_left{width:39%}
.column2, .footer_mid{width:35.75%}
.column3, .footer_right{width:23.45%}
.footer_right input[type="text"]{margin:10px 0 10px 30px;width:150px;}
.footer_right input[type="submit"]{width:16px;height:16px;margin:12px 0 0 8px;background-size:16px 16px}
.photo_list li{width:32.75%}
.journey_book{width:135px;font-size:14px}
.journal_section{margin:1% 3%}
.journal_box{background-size:35px 88px;width:90%}
.journal_bar{width:25%}
.jr_info_head li{font-size:10px}
.jr_info_list li{padding-bottom:13.75%}
.status .blue_bar{width:70%}
.status .yellow_bar{width:60%}
.user_stat{width:57%}
}
@media only screen and (max-width:800px){
.main{width:100%}
.container{height:86%}
#header img{max-width:100%;}
#header h2{font-size:20px;height:30px;line-height:28px;}
.date_time{font-size:18px;height:35px;line-height:35px;}
.date_time b{font-size:18px;height:35px}
.column1, .footer_left{width:41%}
.column2, .footer_mid{width:37.3%}
.column3, .footer_right{width:19.3%}
.footer_right input[type="text"]{margin:10px 0 10px 10px;width:90px;}
.footer_right input[type="submit"]{width:16px;height:16px;margin:12px 0 0 8px;background-size:16px 16px}
.photo_list li{width:32.6%}
.journey_book{width:135px;font-size:14px}
.journal_section{margin:1% 3%}
.journal_box{background-size:35px 88px;width:90%}
.journal_bar{width:25%}
.jr_info_head li{font-size:10px}
.jr_info_list li{padding-bottom:16%}
.status .blue_bar{width:70%}
.status .yellow_bar{width:60%}
.user_stat{width:57%}
.icon_list ul li{width:56px}
}
@media only screen and (max-width:768px){
.main{width:100%}
.container{height:86%}
#header img{max-width:100%;}
#header h2{font-size:20px;height:30px;line-height:28px;}
.date_time{font-size:18px;height:35px;line-height:35px;}
.date_time b{font-size:18px;height:35px}
.column1, .footer_left{width:41%}
.column2, .footer_mid{width:37.3%}
.column3, .footer_right{width:19.3%}
.footer_right input[type="text"]{margin:10px 0 10px 10px;width:90px;}
.footer_right input[type="submit"]{width:16px;height:16px;margin:12px 0 0 8px;background-size:16px 16px}
.photo_list li{width:32.6%}
.journey_book{width:135px;font-size:14px}
.journal_section{margin:1% 3%}
.journal_box{background-size:35px 88px;width:90%}
.journal_bar{width:25%}
.jr_info_head li{font-size:10px}
.jr_info_list li{padding-bottom:16%}
.status .blue_bar{width:70%}
.status .yellow_bar{width:60%}
.user_stat{width:57%}
.icon_list ul li{width:56px}
}


/*YGS*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, left_left_menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,left_left_menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Begining of CSS Definitions */
/* ------------------------------------------------------------------------------------ */

body
{
background-color:#ffffff;
} 

#dashboard_box {
	height:99%;
	width: 99%;
	margin-top:0px;
	
    
    padding: 0px;
	
	margin-left: auto;
	margin-right: auto;
	
	
}

#top_box {
	height:3%;
	width: 100%;
	
	
    border: 0px solid #000000;
    padding: 0px;
	
	
}

#title_box {
	height:70%;
	width: 99%;
	
	
    border: 0px solid #000000;
    padding: 0px;
	
	margin-left: auto;
	margin-right: auto;
	Margin-top: .2%;
	
	
}

#title_left_box {
	height:96%;
	width: 44.5%;
	
	
    border: 0px solid #000000;
    padding: 0px;
	
	margin-left: .1%;
	float:left;
	
	
}

#title_left_box  h1 {
	
	font-family: Helvitica, Arial, sans-serif;
	color: #5d4c46;
	margin-left:0%; 
	font-size: 20vh;
	max-width:80%;
	
	height:150%;
	margin-top: auto;
	margin-bottom: auto;
	
	

	
}


#title_middle_box {
	height:96%;
	width: 10%;
	
	
    border: 0px solid #000000;
    padding: 0px;
	float:left;
	margin-left: .2%;
	
	
}

#title_middle_box  img{

	margin-left: auto;
	margin-right: auto;
	
}

#guru_center img{
	height:96%;
	width: 25%;
	
	margin-left: 35%
		
}

#title_right_box {
	height:96%;
	width: 44.5%;
	
	
    border: 0px solid #000000;
    padding: 0px;
	float:right;
	
	
}


#title_line_box {
	height:3%;
	width: 99%;
	border: 0px solid #000000;
	
    background-color: #5d4c46;
    
	margin-top: .5%;
	margin-left: auto;
	margin-right: auto;
	
	
}

#mid_box {
	height:82.4%;
	width: 100%;
	
    border: 0px solid #000000;
   
}

#bottom_box {
	height:11.5%;
	width: 100%;
	margin-top:0px;
	
    
    padding: 0px;
	
	
}



#left_buttons {
	margin-left:0px; width:7.14%; height=100%; padding: 0px 0px 0px 0px;  float: left; 
}

#right_buttons {
	margin-left:0px; width:7.14%; height=100%; padding: 0px 0px 0px 0px;  float: right; 
}


#popup_box {
	margin-left:.3%; 
	margin-top:0%;
	width:85%; 
	height:98%;
	float:left;
	padding: 0px 0px 0px 0px; 
	
    border: 0px solid #ffffff;
    
	
	
}



	

#grid_box {
	
	width:49.3%; 
	height:100%; 
	float:left;
	padding: 0px 0px 0px 0px; 
	
    border: 0px solid #000000;
    
	
	
}



#detail_box {
	margin-left:.75%;
	width:49.3%; 
	height:100%; 
	padding:0px; 
	float:left;
	border: 0px solid #000000;
	
}	

#detail_box_updating {
	margin-left:.75%;
	width:49.3%; 
	height:100%; 
	padding:0px; 
	float:left;
	border: 0px solid #000000;
	display:none;
}



#left_menu {
	height:99%;
    margin-left:0px;
    width:98%;
    float:left;
	
}	


#right_menu {
	height:99%;
    margin-left:0px;
    width:99%;
    float:right;
	
}	





/* hide */
#box1 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-top:18%;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */
}

#box1 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}



/* bomb */
#box2 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box2 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* stars */
#box3 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%; 
	/* background-color: #5d4c46; */

}

#box3 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* challenge */
#box4 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box4 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* music */
#box5 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box5 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* zap */
#box6 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box6 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* bail */
#box7 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	/* background-color: #5d4c46; */
	

}

#box7 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* intro */
#box8 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-top:18%;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box8 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* chat */
#box9 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box9 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* group */
#box10 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box10 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* outing */
#box11 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box11 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* outing */
#box12 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box12 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* safe */
#box13 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	border: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box13 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* calendar */
#box14 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	border: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */
	

}

#box14 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}




/* gears */
#box15 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	/* background-color: #5d4c46; */
	

}

#box15 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* infinty */
#box16 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	/* background-color: #5d4c46; */

}

#box16 img{
	height:40%; width:55%;  
	
	margin-top:30%;margin-left:22.5%;
	
}




/* like */
#box17 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	/* background-color: #5d4c46; */

}

#box17 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
}




/* heart */
#box18 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	/* background-color: #5d4c46; */

}

#box18 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* ideas */
#box19 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	/* background-color: #5d4c46; */

}

#box19 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* search */
#box20 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:1.25%;
	float:left;
	/* background-color: #5d4c46; */

}

#box20 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* search text box */
#box21 {
	height:98%; background-border:0px 0px 0px 0px; width:19.4%;  
	/* color: #707070; */
	outline: 0px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:left;
	

}

#box21 img{
	height:50%; width:100%;  
	
	margin-top:10%;
	margin-left: 0%;
	
}




/* mail */
#box22 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.05%;
	float:right;
	/* background-color: #5d4c46; */
	

}

#box22 img{
	height:50%; width:55%;  
	
	margin-top:22.5%;margin-left:25%;
	
}




/* bucketlist */
#box23 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:right;

	/* background-color: #5d4c46; */
}

#box23 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* journeybook */
#box24 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%; 
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:right;
	/* background-color: #5d4c46; */

}

#box24 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}




/* stats */
#box25 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:right;
	/* background-color: #5d4c46; */

}

#box25 img{
	height:55%; width:40%;  
	
	margin-top:20%;margin-left:30%;
	
}

#header h1{
	font-size: 1.5vh;
	
}



/* avatar */
#box26 {
	height:98%; background-border:0px 0px 0px 0px; width:6.9%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-right:.2%;
	float:right;
	/* background-color: #5d4c46; */

}

#box26 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
}



/* my journeybook */
#box27 {
	height:13.8%; background-border:0px 0px 0px 0px; width:98%;  
	color: #707070;
	outline: 1px solid #ffffff;
	padding:0px;
	margin-bottom:2.4%;
	/* background-color: #5d4c46; */

}

#box27 img{
	height:55%; width:55%;  
	
	margin-top:20%;margin-left:20%;
	
	
}







popup{position:absolute;height:76%;width:81.1%;z-index:555;margin:3px;margin-top:0px;}
.dashboardpopup{position:absolute;height:76%;width:26.1%;z-index:15;margin:3px;margin-top:0px;background:#5d4c46;}
#middleavatarImg1{width:98%;height:86.5%;}
#middleavatarImg2{width:98%;height:94%;}
#SoulmateboxID{height:100%;min-height:350px;}
@media only screen and (max-width:1920px){.dashboardpopup{position:absolute;height:82.5%;width:81.05%;z-index:555;margin:3px;margin-top:0px;}#middleavatarImg1{width:98%;height:98.2%;}#middleavatarImg2{width:98%;height:98%;}}
@media only screen and (max-width:1680px){#middleavatarImg1{width:98%;height:98.5%;}#middleavatarImg2{width:98%;height:103.5%;}}
@media only screen and (max-width:1600px){.dashboardpopup{position:absolute;height:80%;width:81%;z-index:555;margin:3px;margin-top:0px;}#middleavatarImg1{width:98%;height:86.5%;}#middleavatarImg2{width:98%;height:100%;}}
@media only screen and (max-width:1370px){.dashboardpopup{position:absolute;height:76%;width:81%;z-index:555;margin:3px;margin-top:0px;}}
@media only screen and (max-width:1366px){.dashboardpopup{position:absolute;height:76%;width:81.05%;z-index:555;margin:3px;margin-top:0px;}#middleavatarImg1{width:98%;height:86.5%;}#middleavatarImg2{width:98%;height:93.8%;}}
@media only screen and (max-width:1280px){.dashboardpopup{position:absolute;height:16.5%;width:80.1%;z-index:555;margin:3px;margin-top:0px;}#middleavatarImg1{width:98%;height:81.2%;}#middleavatarImg2{width:98%;height:87.5%;}}
@media only screen and (max-width:1024px){.dashboardpopup{position:absolute;height:82%;width:74.8%;z-index:555;margin:3px;margin-top:0px;}#middleavatarImg1{width:98%;height:86.7%;}#middleavatarImg2{width:98%;height:93.5%;}}
@media only screen and (max-width:1010px){.dashboardpopup{position:absolute;height:76%;width:75%;z-index:555;margin:3px;margin-top:0px;}}
@media only screen and (max-width:980px){.dashboardpopup{position:absolute;height:89%;width:75%;z-index:555;margin:3px;margin-top:0px;}}
@media only screen and (max-width:768px){.dashboardpopup{position:absolute;height:87%;width:78.2%;z-index:555;margin:3px;margin-top:0px;}}
#pad_wrapper_newlife {
	display:block;
	width:100%;
	height:100%;
}
#pad_newlife {
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	background-color:#5d4c46;
	border:2px solid gray;
	border-radius:20px;
	max-width:99%;
}

#pad_newlife h1{
color:#f1f1f1; font-size:30px; text-align:center;  
font-family:"Century Gothic", "Calibri", "Trebuchet MS", ariel, Helvetica, sans-serif;
font-weight:300; letter-spacing:1px; 
}
.dashboard_whitetext{text-align:left;color:#fff;font-family:"Century Gothic", "Calibri", "Trebuchet MS", ariel, Helvetica, sans-serif;font-size:24px;}
input[type="button"]
{
	height:25px;
	font-size:16px;
	background-color:#f1f1f1;
	cursor:pointer;
}
input[type="submit"]
{
	height:25px;
	font-size:16px;
	background-color:#f1f1f1;
	cursor:pointer;
}
.icon_wrap_profile{background:#5e4b45;text-align:left;padding-left:5px;position:absolute;left:0:top:0;width:100%;visibility:visible;}
.link_icon_profile{background:url(../images/link-icon.jpg) no-repeat;width:24px;height:24px;display:inline-block;text-indent:-9999px;}
.like_icon_profile{background:url(../images/like-icon.jpg) no-repeat;width:24px;height:24px;display:inline-block;text-indent:-9999px;}
.fav_icon_profile{background:url(../images/fav-icon.jpg) no-repeat;width:24px;height:24px;display:inline-block;text-indent:-9999px;}

.inputbox
{
	width:250px;
	border:0px;
	color: #000000;
	font-size:16px;
	font-family:"Century Gothic", "Calibri", "Trebuchet MS", ariel, Helvetica, sans-serif;
	font-weight: 100;
	padding:3px;
}
.bottmborder_white{border-bottom:8px solid #ffffff;}
.rightborder_white{border-right:4px solid #ffffff;}
.graylink12 {color:#5D4C46;text-decoration:none;font-size:13px;}	
.graylink12 a{color:#5D4C46;text-decoration:none;font-size:13px;}	
.graylink12 a:hover{color:#5D4C46;text-decoration:underline;font-size:13px;}	
.notifier_box{position:absolute;background-color:#E6E6E6;padding-left:5px;padding-right:5px;font-size:11px;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    2px 2px 3px 0px rgba(0, 0, 0, 0.75);
box-shadow:         2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}
.inputboxchat
{
	width:60%;
	border:0px;
	color: #000000;
	font-size:16px;
	font-family:"Century Gothic", "Calibri", "Trebuchet MS", ariel, Helvetica, sans-serif;
	font-weight: 100;
	padding:3px;
}
.optiontitle:visited {
    color: white;
}
.round {
    width: 150px;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000; /* Set the bg image here. with "no-repeat" */
}

.search {
    position: relative;
    width: 190px;
    height: 30px;
}

@media only screen and (max-width:1920px){.inputboxchat{width:80%}}
@media only screen and (max-width:1680px){.inputboxchat{width:80%}}
@media only screen and (max-width:1280px){.inputboxchat{width:80%}}
@media only screen and (max-width:1024px){.inputboxchat{width:75%}}
@media only screen and (max-width:768px){.inputboxchat{width:65%}}